/* line 21, main.scss */
html, body, #map {
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: black;
  color: white;
}

/* line 28, main.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 33, main.scss */
a {
  color: white;
}
/* line 35, main.scss */
a:hover {
  text-decoration: none;
}

/* line 40, main.scss */
#explanation {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid white;
  background-color: black;
  padding: 20px;
  color: white;
  z-index: 50;
  position: absolute;
  background-color: black;
  position: relative;
  left: 1%;
  top: 18%;
  position: absolute;
  padding: 25px;
  color: white;
  z-index: 50;
  width: 330px;
}

/* line 53, main.scss */
#dateSlider {
  padding-top: 20px;
}

/* line 57, main.scss */
#results {
  padding: 20px;
  position: relative;
  left: 78%;
  top: 18%;
  background-color: black;
  color: white;
  width: 250px;
  /*height: 365px;*/
  z-index: 50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid white;
  background-color: black;
  padding: 20px;
  color: white;
  z-index: 50;
  position: absolute;
  display: none;
}

/* line 72, main.scss */
#header {
  position: absolute;
  width: 400px;
  height: 135px;
  z-index: 25;
  color: white;
  background-color: black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid white;
  background-color: black;
  padding: 20px;
  color: white;
  z-index: 50;
  position: absolute;
  top: 20px;
  margin: 0 auto;
  left: 75%;
  align: center;
}

/* line 86, main.scss */
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 64px;
  margin: 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

/* RESULTS TEXT COLORS THAT MATCH MARKER COLORS */
/* line 97, main.scss */
.Homicides {
  color: #D73027;
}

/* line 101, main.scss */
.Rapes {
  color: #FC8D59;
}

/* line 105, main.scss */
.Robberies {
  color: #99d594;
}

/* line 109, main.scss */
.Aggravated {
  color: #91BFDB;
}

/* line 113, main.scss */
.Burglaries {
  color: #4575B4;
}

/* line 117, main.scss */
.Thefts {
  color: #8856A7;
}

/* line 121, main.scss */
.ui-rangeSlider-label-value {
  color: black;
}

/* line 125, main.scss */
.leaflet-popup-content-wrapper {
  background: black;
}

/* line 129, main.scss */
.leaflet-popup-tip {
  background: black;
}

/* line 133, main.scss */
.leaflet-popup-content {
  color: white;
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 139, main.scss */
.leaflet-container a.leaflet-popup-close-button {
  padding: 8px 6px 0 0;
}

/* line 143, main.scss */
icon-map-marker {
  height: 180px;
  width: 100px;
}

/* line 148, main.scss */
.leaflet-control-up-link {
  background-image: url(images/arrow.png);
}

/* line 152, main.scss */
.leaflet-control-up {
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 5px;
}

/* line 160, main.scss */
.leaflet-control-up a {
  background-color: rgba(255, 255, 255, 0.75);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  margin-top: 5px;
  width: 25px;
  height: 25px;
}

/* line 173, main.scss */
.leaflet-control-up a:first-child {
  margin-top: 0;
}

/* line 177, main.scss */
.loading {
  display: none;
  margin: 0 auto;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
  color: black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 3px;
}

/* line 192, main.scss */
.button {
  border: 1px solid #393e40;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background: -webkit-linear-gradient(top, white, white);
  background: -moz-linear-gradient(top, white, white);
  background: -ms-linear-gradient(top, white, white);
  background: -o-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white 0%, white 100%);
  padding: 3px 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  text-shadow: #7ea4bd 0 1px 0;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  margin-bottom: 6px;
  margin-left: 1px;
}

/* line 217, main.scss */
.button:hover {
  text-shadow: #1e5752 0 1px 0;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background: -webkit-linear-gradient(top, white, white);
  background: -moz-linear-gradient(top, white, white);
  background: -ms-linear-gradient(top, white, white);
  background: -o-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white 0%, white 100%);
  color: #000000;
}

/* line 229, main.scss */
.button:active {
  text-shadow: #737b80 0 1px 0;
  border: 1px solid #737b80;
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
  background: -webkit-linear-gradient(top, black, black);
  background: -moz-linear-gradient(top, black, black);
  background: -ms-linear-gradient(top, black, black);
  background: -o-linear-gradient(top, black, black);
  background-image: -ms-linear-gradient(top, black 0%, black 100%);
  color: #ffffff;
}

/* SMARTPHONE STYLING */
/* line 244, main.scss */
#smartphone-start {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 250, main.scss */
  #map {
    height: 100%;
  }

  /* line 254, main.scss */
  .mobile-dropdown {
    font-size: 115%;
    padding: 3px;
  }

  /* line 259, main.scss */
  .loading {
    background-color: black;
    color: white;
  }

  /* line 264, main.scss */
  .mobile-form {
    background-color: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }

  /* line 271, main.scss */
  #explanation {
    display: none;
  }

  /* line 275, main.scss */
  h3 {
    line-height: 20px;
  }

  /* line 279, main.scss */
  #smartphone-start {
    display: block;
    width: 95%;
    padding: 10px;
    vertical-align: middle;
  }
  /* line 284, main.scss */
  #smartphone-start h1 {
    font-size: 40px;
    font-height: 34px;
    line-height: 34px;
  }

  /* line 291, main.scss */
  #results {
    position: relative;
    width: 100%;
    display: block;
    padding: 0px;
    left: 0;
    top: 0;
    border: 0px;
  }
}
