@mixin opaque($per) {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $per+ ")";
    filter: alpha(opacity=$per);
    -moz-opacity:$per/100;
    -khtml-opacity:$per/100;
    opacity:$per/100;
}

@mixin rounded($pixels) {
    -webkit-border-radius: $pixels;
    -moz-border-radius: $pixels;
    border-radius: $pixels;
    border: 3px solid white;
    background-color: black;
    padding: 20px;
    color: white;
    z-index: 50;
    position: absolute;
}

html, body, #map {
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    &:hover {
        text-decoration: none;
    }
}

#explanation {
    @include rounded(20px);
    background-color: black;
    position: relative;
    left: 1%;
    top: 18%;
    position: absolute;
    padding: 25px;
    color: white;
    z-index: 50;
    width: 330px;
}

#dateSlider {
    padding-top: 20px;
}

#dateSliderHelp {
    display: none;
    z-index: 100;
    position: absolute;
    background-color: white;
    color: black;
    padding: 5px;
    left: 25%;
    top: 95%;
    width: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px black solid;
}

#dateSlider, #dateSliderHelp {
	/*position: absolute;*/
/*	top: 0;
	left: 0;*/
}


#results {
    padding:20px;
    position: relative;
    left: 78%;
    top: 18%;
    background-color: black;
    color: white;
    width: 250px;
    /*height: 365px;*/
    z-index: 50;
    @include opaque(100);
    @include rounded(20px);
    display: none;
}

#header {
    position: absolute;
    width: 400px;
    height: 135px;
    z-index:25;
    color: white;
    background-color: black;
    @include rounded(20px);
    top: 20px;
    margin: 0 auto;
    left: 75%;
    align: center;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

/* RESULTS TEXT COLORS THAT MATCH MARKER COLORS */
.Homicides {
    color: #D73027;
}

.Rapes {
    color: #FC8D59;
}

.Robberies {
    color: #99d594;
}

.Aggravated {
    color: #91BFDB;
}

.Burglaries {
    color: #4575B4; 
}

.Thefts {
    color: #8856A7;
}

.ui-rangeSlider-label-value {
    color: black;
}

.leaflet-popup-content-wrapper {
    background: black;
}

.leaflet-popup-tip {
    background: black;
}

.leaflet-popup-content {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.leaflet-container a.leaflet-popup-close-button {
    padding: 8px 6px 0 0;
}

icon-map-marker {
    height: 180px;
    width: 100px;
}

.leaflet-control-up-link {
    background-image: url(images/arrow.png)
}

.leaflet-control-up {
	background-color: rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	        border-radius: 7px;
	padding: 5px;
}

.leaflet-control-up a {
	background-color: rgba(255, 255, 255, 0.75);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	display: block;
	margin-top: 5px;
	width: 25px;
	height: 25px;
}

.leaflet-control-up a:first-child{
	margin-top: 0;
}

.loading {
    display: none;
    margin: 0 auto;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: transparent;
    color: black;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 3px;
}

.button {
   border: 1px solid #393e40;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   padding: 3px 4px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #000000;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   margin-bottom: 6px;
   margin-left: 1px;
}

.button:hover {
   text-shadow: #1e5752 0 1px 0;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   color: #000000;
}

.button:active {
   text-shadow: #737b80 0 1px 0;
   border: 1px solid #737b80;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#ffffff));
   background: -webkit-linear-gradient(top, #000000, #000000);
   background: -moz-linear-gradient(top, #000000, #000000);
   background: -ms-linear-gradient(top, #000000, #000000);
   background: -o-linear-gradient(top, #000000, #000000);
   background-image: -ms-linear-gradient(top, #000000 0%, #000000 100%);
   color: #ffffff;
}

/* SMARTPHONE STYLING */

#smartphone-start {
    display:none;
}

@media screen and (max-width: 600px) {

    #map {
        height: 100%;   
    }

    .mobile-dropdown {
        font-size: 115%;
        padding: 3px;
    }

    .loading {
        background-color: black;
        color: white;
    }

    .mobile-form {
        background-color: white;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    #explanation {
        display: none;
    }

    h3 {
        line-height: 20px;
    }

    #smartphone-start {
        display: block;
        width: 95%;
        padding: 10px;
        vertical-align: middle;
        h1 {
            font-size: 40px;
            font-height: 34px;
            line-height: 34px;
        }            
    }

    #results {
        position: relative;
        width: 100%;
        display: block;
        padding: 0px;
        left: 0;
        top: 0;
        border: 0px;
    }
}
